openapi: 3.2.0
info:
  title: Iterable Templates API
  version: '1.0'
  description: 'Operations tagged templates across 2 of this provider''s published API definitions: iterable-api-openapi.json, iterable-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.iterable.com/
- url: https://api.iterable.com/api
  description: US Data Center (USDC)
- url: https://api.eu.iterable.com/api
  description: European Data Center (EDC)
tags:
- name: templates
paths:
  /api/templates:
    get:
      description: 'Get templates for a project. Use <code>page</code> and <code>pageSize</code> parameters to paginate results. If the unpaginated templates API is allowed for your project, then all templates are returned if no pagination parameters are provided. The unpaginated behavior is deprecated and may be removed in the future. <b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getTemplates
      parameters:
      - description: Only retrieve templates associated with this template type
        in: query
        name: templateType
        required: false
        schema:
          type: string
          enum:
          - Base
          - Blast
          - Triggered
          - Workflow
          default: None
      - description: Only retrieve templates associated with this message medium
        in: query
        name: messageMedium
        required: false
        schema:
          type: string
          enum:
          - Email
          - Push
          - InApp
          - SMS
          default: None
      - description: Get templates created at or after this date time (yyyy-MM-dd HH:mm:ss [ZZ])
        in: query
        name: startDateTime
        required: false
        schema:
          type: string
          format: date-time
      - description: Get templates created before this date time (yyyy-MM-dd HH:mm:ss [ZZ])
        in: query
        name: endDateTime
        required: false
        schema:
          type: string
          format: date-time
      - description: Page number (starting at 1).
        in: query
        name: page
        required: false
        x-example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - description: Number of results to return per page (defaults to 20, maximum of 1000).
        in: query
        name: pageSize
        required: false
        x-example: 25
        schema:
          type: integer
          format: int32
          default: 20
      - description: 'Field to sort templates by, with optional direction prefix. Use - for descending, + or no prefix for ascending. Templates can be sorted by id, name, createdAt, or updatedAt. Examples: -createdAt, +name, id'
        in: query
        name: sort
        required: false
        x-example: id
        schema:
          type: string
          default: id
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplatesResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Get project templates
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/bulkDelete:
    post:
      description: 'This endpoint deletes one or more base templates. Templates which are associated with a campaign will not be deleted. '
      operationId: bulk delete templates
      responses:
        '200':
          description: Templates deleted successfully
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      summary: Bulk delete templates
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteTemplatesRequest'
        description: IDs of templates to delete
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/email/get:
    get:
      description: '<b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getEmailTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEmailTemplateModel'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
        '404':
          description: Content does not exist for specified locale
      summary: Get an email template by templateId
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/email/preview:
    post:
      description: 'Generate a fully rendered HTML preview of an email template using custom data. This endpoint simulates how a template would appear when sent to a user, allowing you to test template rendering with specific data fields and/or data feed data. Use this to preview templates before sending campaigns or to test template logic with different data scenarios. <br/><br/>Note: If a template references a field that is not provided in the request data, that field will be rendered as an empty string, matching the behavior of actual email sends.<br/><br/><b>Rate limit</b>: 10 requests/second, per project.'
      operationId: previewEmailTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: None
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid parameters. This may occur if the <code>templateId</code> is invalid, if required template data is missing, or if the request body contains malformed JSON.
        '401':
          description: Invalid API key
        '404':
          description: Template not found
      summary: Preview email template with custom data
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePreviewRequest'
        description: Data to use for template rendering
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/email/proof:
    post:
      description: 'Send a proof of an email template to a specific user. <br/><br/><b>Rate limit</b>: 20 requests/second, per API key.'
      operationId: emailProof
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Send a proof of an email template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateProofRequest'
        description: Template proof request
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/email/update:
    post:
      description: ''
      operationId: updateEmailTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Update email template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiEmailTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/email/upsert:
    post:
      description: Create email template if it doesn't exist already, otherwise update all email templates that match the name provided.
      operationId: upsertEmailTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Create email template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertEmailTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/embedded/get:
    get:
      description: '<b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getEmbeddedTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEmbeddedTemplateModel'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
        '404':
          description: Content does not exist for specified locale
      summary: Get an embedded message template
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/embedded/update:
    post:
      description: ''
      operationId: updateEmbeddedTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Update embedded message template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiEmbeddedTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/embedded/upsert:
    post:
      description: Create an embedded message template if it doesn't exist yet, otherwise update all embedded message templates that match the name provided.
      operationId: upsertEmbeddedTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Create an embedded message template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertEmbeddedTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/getByClientTemplateId:
    get:
      description: '<b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getByClientTemplateId
      parameters:
      - description: Client Template Id
        in: query
        name: clientTemplateId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateIdResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Get an email template by clientTemplateId
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/inapp/get:
    get:
      description: ''
      operationId: getInAppTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInAppTemplateModel'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
        '404':
          description: Content does not exit for specified locale
      summary: Get an in-app template
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/inapp/preview:
    post:
      description: 'Generate a fully rendered HTML preview of an in-app template using custom data. This endpoint simulates how a template would appear when sent to a user, allowing you to test template rendering with specific data fields and/or data feed data. Use this to preview templates before sending campaigns or to test template logic with different data scenarios. <br/><br/>Note: If a template references a field that is not provided in the request data, that field will be rendered as an empty string, matching the behavior of actual email sends.<br/><br/><b>Rate limit</b>: 10 requests/second, per project.'
      operationId: previewInAppTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: None
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid parameters. This may occur if the <code>templateId</code> is invalid, if required template data is missing, or if the request body contains malformed JSON.
        '401':
          description: Invalid API key
        '404':
          description: Template not found
      summary: Preview in-app template with custom data
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePreviewRequest'
        description: Data to use for template rendering
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/inapp/proof:
    post:
      description: 'Send a proof of an in-app template to a specific user. <br/><br/><b>Rate limit</b>: 20 requests/second, per API key.'
      operationId: inappProof
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Send a proof of an in-app template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateProofRequest'
        description: Template proof request
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/inapp/update:
    post:
      description: ''
      operationId: updateInAppTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Update in-app template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiInAppTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/inapp/upsert:
    post:
      description: Create an in-app template if it doesn't exist yet, otherwise update all in-app templates that match the name provided.
      operationId: upsertInAppTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Create an in-app template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertInAppTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/push/get:
    get:
      description: '<b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getPushTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPushTemplateModel'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
        '404':
          description: Content does not exit for specified locale
      summary: Get a push template
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/push/proof:
    post:
      description: 'Send a proof of a push template to a specific user. <br/><br/><b>Rate limit</b>: 20 requests/second, per API key.'
      operationId: pushProof
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Send a proof of a push template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateProofRequest'
        description: Template proof request
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/push/update:
    post:
      description: ''
      operationId: updatePushTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Update push template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPushTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/push/upsert:
    post:
      description: Create a push template if it doesn't exist, otherwise update all push templates that match the name provided.
      operationId: upsertPushTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Create a push template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPushTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/sms/get:
    get:
      description: '<b>Rate limit</b>: 100 requests/second, per project.'
      operationId: getSMSTemplate
      parameters:
      - description: Template ID
        in: query
        name: templateId
        required: true
        schema:
          type: integer
          format: int64
      - description: Locale of content to get
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSMSTemplateModel'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
        '404':
          description: Content does not exit for specified locale
      summary: Get an SMS template
      tags:
      - templates
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/sms/proof:
    post:
      description: 'Send a proof of an SMS template to a specific user. <br/><br/><b>Rate limit</b>: 20 requests/second, per API key.'
      operationId: smsProof
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Send a proof of an SMS template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateProofRequest'
        description: Template proof request
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/sms/update:
    post:
      description: ''
      operationId: updateSMSTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Update SMS template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSMSTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /api/templates/sms/upsert:
    post:
      description: Create an SMS template if it doesn't exist yet, otherwise update all SMS templates that match the name provided.
      operationId: upsertSMSTemplate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableApiResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Invalid API key
      summary: Create an SMS template
      tags:
      - templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSMSTemplateModel'
        description: Only the fields specified will be updated
        required: true
      security:
      - api_key: []
    servers:
    - url: https://api.iterable.com/
  /templates/email/get:
    get:
      operationId: getEmailTemplate
      summary: Get an email template
      description: Retrieves the content and metadata of an email template by its template ID.
      tags:
      - templates
      parameters:
      - name: templateId
        in: query
        required: true
        description: The ID of the email template to retrieve
        schema:
          type: integer
      responses:
        '200':
          description: Email template data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
        '401':
          description: Unauthorized
        '404':
          description: Template not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.iterable.com/api
      description: US Data Center (USDC)
    - url: https://api.eu.iterable.com/api
      description: European Data Center (EDC)
  /templates/email/update:
    post:
      operationId: updateEmailTemplate
      summary: Update an email template
      description: Updates the content and metadata of an existing email template.
      tags:
      - templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateUpdate'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterableResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.iterable.com/api
      description: US Data Center (USDC)
    - url: https://api.eu.iterable.com/api
      description: European Data Center (EDC)
  /templates/push/get:
    get:
      operationId: getPushTemplate
      summary: Get a push notification template
      description: Retrieves the content and metadata of a push notification template by its template ID.
      tags:
      - templates
      parameters:
      - name: templateId
        in: query
        required: true
        description: The ID of the push template to retrieve
        schema:
          type: integer
      responses:
        '200':
          description: Push template data
          content:
            application/json:
              schema:
                type: object
                properties:
                  templateId:
                    type: integer
                  name:
                    type: string
                  message:
                    type: string
                  sound:
                    type: string
                  deeplink:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Template not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.iterable.com/api
      description: US Data Center (USDC)
    - url: https://api.eu.iterable.com/api
      description: European Data Center (EDC)
  /templates/sms/get:
    get:
      operationId: getSmsTemplate
      summary: Get an SMS template
      description: Retrieves the content and metadata of an SMS template by its template ID.
      tags:
      - templates
      parameters:
      - name: templateId
        in: query
        required: true
        description: The ID of the SMS template to retrieve
        schema:
          type: integer
      responses:
        '200':
          description: SMS template data
          content:
            application/json:
              schema:
                type: object
                properties:
                  templateId:
                    type: integer
                  name:
                    type: string
                  message:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Template not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.iterable.com/api
      description: US Data Center (USDC)
    - url: https://api.eu.iterable.com/api
      description: European Data Center (EDC)
  /templates/inApp/get:
    get:
      operationId: getInAppTemplate
      summary: Get an in-app message template
      description: Retrieves the content and metadata of an in-app message template by its template ID.
      tags:
      - templates
      parameters:
      - name: templateId
        in: query
        required: true
        description: The ID of the in-app template to retrieve
        schema:
          type: integer
      responses:
        '200':
          description: In-app template data
          content:
            application/json:
              schema:
                type: object
                properties:
                  templateId:
                    type: integer
                  name:
                    type: string
                  html:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Template not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.iterable.com/api
      description: US Data Center (USDC)
    - url: https://api.eu.iterable.com/api
      description: European Data Center (EDC)
components:
  schemas:
    PushAction:
      properties:
        data:
          description: The URL to open if the type is 'openUrl'
          type: string
        type:
          description: The type of action. Leave empty to open the app, use 'openUrl' to open the url specified in the 'data' field, or enter a custom action handler defined in your app
          type: string
      type: object
    PushActionButton:
      properties:
        action:
          $ref: '#/components/schemas/PushAction'
          description: Action to execute on button push
        actionIcon:
          $ref: '#/components/schemas/ActionIcon'
        buttonType:
          description: Type of button
          enum:
          - default
          - destructive
          - textInput
          type: string
        identifier:
          description: Used to identify the button for event tracking
          type: string
        inputPlaceholder:
          description: The input placeholder in the text box if this is a Text Input button
          type: string
        inputTitle:
          description: The submit button text for the text box if this is a Text Input button
          type: string
        openApp:
          description: Open the app if the button uses a customAction
          type: boolean
        requiresUnlock:
          description: Whether the button requires the phone to be unlocked
          type: boolean
        title:
          description: Title that will appear on the button
          type: string
      required:
      - identifier
      - openApp
      - title
      type: object
    InboxMetadata:
      properties:
        icon:
          description: The icon to display in the inbox
          type: string
        subtitle:
          description: The subtitle to display in the inbox
          type: string
        title:
          description: The title to display in the inbox
          type: string
      type: object
    ApiTemplateEntry:
      properties:
        campaignId:
          description: ID of campaign using this template
          format: int64
          type: integer
        locales:
          description: Locales with content for this template
          items:
            $ref: '#/components/schemas/string'
          type: array
        templateId:
          description: Template ID
          format: int64
          type: integer
      required:
      - templateId
      type: object
    ApiPushTemplateModel:
      properties:
        badge:
          description: Badge to set for push notification
          type: string
        buttons:
          description: Array of buttons that appear to respond to the push. Max of 3.
          items:
            $ref: '#/components/schemas/PushActionButton'
          type: array
        cacheDataFeed:
          description: Cache data feed lookups for 1 hour
          type: boolean
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        campaignId:
          description: Campaign ID
          type: object
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        createdAt:
          description: Date created [Read only]
          format: date-time
          type: string
        dataFeedIds:
          description: Ids for data feeds used in template rendering
          items:
            type: number
          type: array
        deeplink:
          $ref: '#/components/schemas/DeeplinkURI'
          description: 'Deep Link. A mapping that accepts two optional properties: ''ios'' & ''android'' and their respective deep link values.'
        interruptionLevel:
          description: An interruption level helps iOS determine when to alert a user about the arrival of a push notification
          enum:
          - passive
          - active
          - time-sensitive
          - critical
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Identifies if the locale associated with the response is the template''s default. If empty or flexible default locales are not enabled for the project, the project''s default locale is assigned.'
          type: boolean
        isSilentPush:
          description: Whether or not this is a silent push notification template
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        mergeDataFeedContext:
          description: Merge data feed contents into user context, so fields can be referenced by {{field}} instead of [[field]]
          type: boolean
        message:
          description: Push message
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          description: Payload to send with push notification
          type: object
        relevanceScore:
          description: Relevance score for iOS notifications on iOS 15+. Number is clamped between 0 and 1.0
          format: double
          type: number
        richMedia:
          $ref: '#/components/schemas/RichMediaURL'
          description: 'Rich Media URL. A mapping that accepts two optional properties: ''ios'' & ''android'' and their respective rich media url values.'
        sound:
          description: Sound
          type: string
        templateId:
          description: Push template ID
          format: int64
          type: integer
        title:
          description: Push message title
          type: string
        updatedAt:
          description: Date last updated [Read only]
          format: date-time
          type: string
        wake:
          description: Set the content-available flag on iOS notifications, which will wake the app in the background
          type: boolean
      required:
      - templateId
      type: object
    JsObject:
      properties:
        underlying:
          additionalProperties:
            $ref: '#/components/schemas/JsValue'
          type: object
      required:
      - underlying
      type: object
    Action:
      properties:
        data:
          description: For URL actions, this field is a full URL. For custom actions, it's an empty string.
          type: string
        type:
          description: For URL actions, this field is <code>openUrl</code>. For custom actions, it's the full URL of the custom action.
          type: string
      type: object
    InAppDisplaySetting:
      type: object
    ApiTemplateResponse:
      properties:
        campaignId:
          description: Campaign ID
          format: int32
          type: integer
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        createdAt:
          description: Date created
          format: date-time
          type: string
        creatorUserId:
          description: Creator email
          type: string
        messageTypeId:
          description: Message type ID
          format: int64
          type: integer
        name:
          description: Name of the template
          type: string
        templateId:
          description: Template ID
          format: int64
          type: integer
        updatedAt:
          description: Date last updated
          format: date-time
          type: string
      required:
      - createdAt
      - creatorUserId
      - messageTypeId
      - name
      - templateId
      - updatedAt
      type: object
    TemplateProofRequest:
      description: Template proof request
      properties:
        dataFields:
          description: Fields to merge into template for proof
          type: object
        locale:
          description: Locale for the proof message. If provided, must be a valid locale for the project. If not provided, falls back to the user's locale, then to the project's default locale.
          type: string
        recipientEmail:
          description: An email address that identifies a user profile in Iterable. Provide a <code>recipientEmail</code> or a <code>recipientUserId</code> (but not both), depending on <a href="https://support.iterable.com/hc/articles/29156459027348">how your project identifies users</a>.
          type: string
        recipientUserId:
          description: A user ID that identifies a user profile in Iterable. Provide a <code>recipientEmail</code> or a <code>recipientUserId</code> (but not both), depending on <a href="https://support.iterable.com/hc/articles/29156459027348">how your project identifies users</a>.
          type: string
        templateId:
          description: Template ID to send proof for
          format: int64
          type: integer
      required:
      - templateId
      type: object
    ClientTemplateIdResponse:
      properties:
        templates:
          description: Templates that match client template id
          items:
            $ref: '#/components/schemas/ApiTemplateEntry'
          type: array
      required:
      - templates
      type: object
    UpsertInAppTemplateModel:
      properties:
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        clientTemplateId:
          description: ID used by the client to identify a template. If multiple templates exist with the ID, all will be updated
          type: string
        creatorUserId:
          description: Specify a specific creator user id (email). The email must be an existing member of the project. Defaults to the organization creator.
          type: string
        expirationDateTime:
          description: Absolute expiration of message
          format: date-time
          type: string
        expirationDuration:
          description: Relative expiration of message
          type: string
        html:
          description: Html of the in-app notification
          type: string
        inAppDisplaySettings:
          $ref: '#/components/schemas/InAppDisplaySettings'
          description: Display settings
        inboxMetadata:
          $ref: '#/components/schemas/InboxMetadata'
          description: Title, subtitle, and thumbnail
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Sets the locale associated with the request content as the template’s default. If empty or flexible default locales are not enabled for the project, the project’s default locale is assigned.'
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          $ref: '#/components/schemas/JsObject'
          description: Payload
        webInAppDisplaySettings:
          $ref: '#/components/schemas/WebInAppDisplaySettings'
          description: Web In-app display settings
      required:
      - clientTemplateId
      type: object
    Elements:
      properties:
        buttons:
          description: Buttons to display with the embedded message. Each template may have up to two buttons with associated open URLs or custom actions.
          items:
            $ref: '#/components/schemas/Button'
          type: array
        defaultAction:
          $ref: '#/components/schemas/Action'
          description: The open action that occurs when a user clicks on the embedded message itself.
        mediaUrl:
          description: URL for image or video content to display in the embedded message.
          type: string
        mediaUrlCaption:
          description: Alt text for the media specified by <code>mediaUrl</code>.
          type: string
        text:
          description: Custom text fields for the template. Each custom text field has a <code>label</code> key that is predefined by the template's associated placement, and a configurable <code>text</code> value.
          items:
            $ref: '#/components/schemas/Text'
          type: array
      type: object
    BgColor:
      properties:
        alpha:
          description: The opacity range of the background between 0-1
          type: number
        hex:
          description: 'The hex color of the background. Format: #FFFFFF'
          type: string
      type: object
    ApiInAppTemplateModel:
      properties:
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        campaignId:
          description: Campaign ID
          format: int32
          type: integer
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        expirationDateTime:
          description: The in-app message's absolute expiration time. If set to a time before the campaign sends, contacts will never see the message. Format is <code>YYYY-MM-DD HH:MM:SS</code> (UTC timestamp, time zones not allowed). Default expiration is 90 days after send time. For more information, read <a href="https://support.iterable.com/hc/articles/360044425951">Creating In-App Templates</a>.
          format: date-time
          type: string
        expirationDuration:
          description: The in-app message's expiration time, relative to its send time. Should be an expression such as <code>now+90d</code>. Default expiration is 90 days after send time. For more information, read <a href="https://support.iterable.com/hc/articles/360044425951">Creating In-App Templates</a>.
          type: string
        html:
          description: Html of the in-app notification
          type: string
        inAppDisplaySettings:
          $ref: '#/components/schemas/InAppDisplaySettings'
          description: Display settings
        inboxMetadata:
          $ref: '#/components/schemas/InboxMetadata'
          description: Title, subtitle, and thumbnail
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Identifies if the locale associated with the response is the template''s default. If empty or flexible default locales are not enabled for the project, the project''s default locale is assigned.'
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable automatically sends the content with a locale that matches a user profile's <code>locale</code> field.
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          description: Payload
          type: object
        templateId:
          description: In-app template ID
          format: int64
          type: integer
        webInAppDisplaySettings:
          $ref: '#/components/schemas/WebInAppDisplaySettings'
          description: Web In-app Display settings
      required:
      - templateId
      type: object
    UpsertSMSTemplateModel:
      properties:
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        clientTemplateId:
          description: ID used by the client to identify a template. If multiple templates exist with the ID, all will be updated
          type: string
        creatorUserId:
          description: Specify a specific creator user id (email). The email must be an existing member of the project. Defaults to the organization creator.
          type: string
        googleAnalyticsCampaignName:
          description: Google analytics utm_campaign value
          type: string
        imageUrl:
          description: Image Url
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Sets the locale associated with the request content as the template’s default. If empty or flexible default locales are not enabled for the project, the project’s default locale is assigned.'
          type: boolean
        linkParams:
          description: Parameters to append to each URL in html contents
          items:
            $ref: '#/components/schemas/LinkParam'
          type: array
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        message:
          description: SMS message
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
      required:
      - clientTemplateId
      type: object
    UpsertEmbeddedTemplateModel:
      properties:
        body:
          description: Body text of the embedded message
          type: string
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        clientTemplateId:
          description: ID used by the client to identify a template. If multiple templates exist with the ID, all will be updated
          type: string
        creatorUserId:
          description: Specify a specific creator user ID (email). The email must be an existing member of the project. Defaults to the organization creator.
          type: string
        elements:
          $ref: '#/components/schemas/Elements'
          description: Elements (buttons, media, text fields) for the embedded message
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Sets the locale associated with the request content as the template''s default. If empty or flexible default locales are not enabled for the project, the project''s default locale is assigned.'
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        messageTypeId:
          description: Message type ID
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          $ref: '#/components/schemas/JsObject'
          description: Payload
        placementId:
          description: Placement ID that this template is associated with
          type: object
        title:
          description: Title of the embedded message
          type: string
      required:
      - clientTemplateId
      type: object
    WebInAppDisplaySettings:
      properties:
        position:
          $ref: '#/components/schemas/PositionOption'
          description: The position of the message on the screen
      type: object
    TemplatePreviewRequest:
      properties:
        dataFeed:
          description: 'Data feed content for template rendering. Provide key-value pairs for any data feed fields that your template references. Note: Data feed fields are accessible as <code>[[fieldName]]</code> when template''s <code>mergeDataFeedContext=false</code>, or as <code>{{fieldName}}</code> when <code>mergeDataFeedContext=true</code>. The <code>mergeDataFeedContext</code> setting is configured when creating/updating templates. If <code>fetchDataFeeds</code> is true, this will be merged with (or overridden by) the fetched data feed data.'
          type: object
        dataFields:
          description: 'Data fields for template rendering. Provide key-value pairs for any user profile, event, or custom fields that your template references. Note: Fields are accessible as <code>{{fieldName}}</code> in templates.'
          type: object
        fetchDataFeeds:
          description: Whether to fetch and use actual data feeds configured in the template. If true, the data feeds associated with the template will be fetched and used for rendering. Data from <code>dataFields</code> will be used to render dynamic URLs in the data feed configuration. If <code>dataFeed</code> is also provided, it will be merged with (or override) the fetched data feed data. Defaults to false.
          type: boolean
      type: object
    JsValue:
      type: object
    ApiSMSTemplateModel:
      properties:
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        campaignId:
          description: Campaign ID
          type: object
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        createdAt:
          description: Date created [Read only]
          format: date-time
          type: string
        googleAnalyticsCampaignName:
          description: Google analytics utm_campaign value
          type: string
        imageUrl:
          description: Image Url
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Identifies if the locale associated with the response is the template''s default. If empty or flexible default locales are not enabled for the project, the project''s default locale is assigned.'
          type: boolean
        linkParams:
          description: Parameters to append to each URL in contents
          items:
            $ref: '#/components/schemas/LinkParam'
          type: array
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        message:
          description: SMS message
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        templateId:
          description: SMS template ID
          format: int64
          type: integer
        trackingDomain:
          description: Tracking Domain
          type: string
        updatedAt:
          description: Date last updated [Read only]
          format: date-time
          type: string
      required:
      - templateId
      type: object
    IterableApiResponse:
      properties:
        code:
          enum:
          - Success
          - BadApiKey
          - BadAuthorizationHeader
          - BadJsonBody
          - BadParams
          - BatchTooLarge
          - DatabaseError
          - EmailAlreadyExists
          - ExternalKeyConflict
          - Forbidden
          - ForbiddenParamsError
          - ForgottenUserError
          - GenericError
          - InvalidEmailAddressError
          - InvalidJwtPayload
          - InvalidUserIdError
          - JwtUserIdentifiersMismatched
          - NotFound
          - QueueEmailError
          - RateLimitExceeded
          - RequestFieldsTypesMismatched
          - Unauthorized
          - UniqueFieldsLimitExceeded
          - UnknownEmailError
          - UnknownUserIdError
          - UserIdAlreadyExists
          type: string
        msg:
          description: Response description
          type: string
        params:
          description: Additional info
          type: object
      required:
      - code
      - msg
      type: object
    RichMediaURL:
      properties:
        android:
          type: string
        ios:
          type: string
      type: object
    PositionOption:
      type: object
    ApiEmbeddedTemplateModel:
      properties:
        body:
          description: Body text of the embedded message
          type: string
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        campaignId:
          description: Campaign ID
          format: int32
          type: integer
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        elements:
          $ref: '#/components/schemas/Elements'
          description: Elements (buttons, media, text fields) for the embedded message
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Identifies if the locale associated with the response is the template''s default. If empty or flexible default locales are not enabled for the project, the project''s default locale is assigned.'
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable automatically sends the content with a locale that matches a user profile's <code>locale</code> field.
          type: string
        messageTypeId:
          description: Message type ID
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          description: Payload
          type: object
        placementId:
          description: Placement ID that this template is associated with
          type: object
        templateId:
          description: Embedded message template ID
          format: int64
          type: integer
        title:
          description: Title of the embedded message
          type: string
      required:
      - templateId
      type: object
    UpsertPushTemplateModel:
      properties:
        badge:
          description: Badge to set for push notification
          type: string
        buttons:
          description: Array of buttons that appear to respond to the push. Max of 3.
          items:
            $ref: '#/components/schemas/PushActionButton'
          type: array
        cacheDataFeed:
          description: Cache data feed lookups for 1 hour
          type: boolean
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        clientTemplateId:
          description: ID used by the client to identify a template. If multiple templates exist with the ID, all will be updated
          type: string
        creatorUserId:
          description: Specify a specific creator user id (email). The email must be an existing member of the project. Defaults to the organization creator.
          type: string
        dataFeedIds:
          description: Ids for data feeds used in template rendering
          items:
            type: number
          type: array
        deeplink:
          $ref: '#/components/schemas/DeeplinkURI'
          description: 'Deep Link. A mapping that accepts two optional properties: ''ios'' & ''android'' and their respective deep link values.'
        interruptionLevel:
          description: An interruption level helps iOS determine when to alert a user about the arrival of a push notification
          enum:
          - passive
          - active
          - time-sensitive
          - critical
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Sets the locale associated with the request content as the template’s default. If empty or flexible default locales are not enabled for the project, the project’s default locale is assigned.'
          type: boolean
        isSilentPush:
          description: Whether or not this is a silent push notification template
          type: boolean
        locale:
          description: The locale for the content in this request. Leave empty for default locale.Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        mergeDataFeedContext:
          description: Merge data feed contents into user context, so fields can be referenced by {{field}} instead of [[field]]
          type: boolean
        message:
          description: Push message
          type: string
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        payload:
          $ref: '#/components/schemas/JsObject'
          description: Payload to send with push notification
        relevanceScore:
          description: Relevance score for iOS notifications on iOS 15+. Number is clamped between 0 and 1.0
          format: double
          type: number
        richMedia:
          $ref: '#/components/schemas/RichMediaURL'
          description: 'Rich Media URL. A mapping that accepts two optional properties: ''ios'' & ''android'' and their respective rich media url values.'
        sound:
          description: Sound
          type: string
        title:
          description: Push message title
          type: string
        wake:
          description: Set the content-available flag on iOS notifications, which will wake the app in the background
          type: boolean
      required:
      - clientTemplateId
      type: object
    GetTemplatesResponse:
      properties:
        nextPageUrl:
          description: The URL to the next page of templates, if applicable.
          type: string
        previousPageUrl:
          description: The URL to the previous page of templates, if applicable.
          type: string
        templates:
          items:
            $ref: '#/components/schemas/ApiTemplateResponse'
          type: array
        totalTemplatesCount:
          description: The total count of templates across all pages for the supplied query. Only present when using pagination.
          type: object
      required:
      - templates
      type: object
    DeeplinkURI:
      properties:
        android:
          type: string
        ios:
          type: string
      type: object
    ActionIcon:
      properties:
        iconType:
          $ref: '#/components/schemas/ActionIconType'
        imageName:
          type: string
      required:
      - iconType
      - imageName
      type: object
    ActionIconType:
      type: object
    BulkDeleteTemplatesRequest:
      properties:
        ids:
          description: IDs of templates to be deleted.
          items:
            type: number
          type: array
      required:
      - ids
      type: object
    Text:
      properties:
        label:
          description: Identifier for the text field, specified by the user who created its associated placement. This field is a key, not content. Do not display it.
          type: string
        text:
          description: Text to display.
          type: string
      type: object
    LinkParam:
      properties:
        key:
          description: Link parameter key
          type: string
        value:
          description: Link parameter value
          type: string
      required:
      - key
      - value
      type: object
    Button:
      properties:
        action:
          $ref: '#/components/schemas/Action'
          description: Action to invoke when a user taps the button.
        id:
          description: ID of the button.
          type: string
        title:
          description: Text to display on the button.
          type: string
      type: object
    InAppDisplaySettings:
      properties:
        bgColor:
          $ref: '#/components/schemas/BgColor'
          description: The background color values
        bottom:
          $ref: '#/components/schemas/InAppDisplaySetting'
          description: Padding percentage for the bottom of the notification, or -1 to autoexpand
        left:
          $ref: '#/components/schemas/InAppDisplaySetting'
          description: Padding percentage for the left of the notification, or -1 to autoexpand
        right:
          $ref: '#/components/schemas/InAppDisplaySetting'
          description: Padding percentage for the right of the notification, or -1 to autoexpand
        shouldAnimate:
          description: Enables In App Animations
          type: boolean
        top:
          $ref: '#/components/schemas/InAppDisplaySetting'
          description: Padding percentage for the top of the notification, or -1 to autoexpand
      type: object
    UpsertEmailTemplateModel:
      properties:
        bccEmails:
          description: BCC emails
          items:
            type: string
          type: array
        cacheDataFeed:
          description: Cache data feed lookups for 1 hour
          type: object
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        ccEmails:
          description: CC emails
          items:
            type: string
          type: array
        clientTemplateId:
          description: ID used by the client to identify a template. If multiple templates exist with the ID, all will be updated
          type: string
        creatorUserId:
          description: Specify a specific creator user id (email). The email must be an existing member of the project. Defaults to the organization creator.
          type: string
        dataFeedId:
          description: '[Deprecated - use dataFeedIds instead] Id for data feed used in template rendering'
          format: int32
          type: integer
        dataFeedIds:
          description: Ids for data feeds used in template rendering
          items:
            type: number
          type: array
        fromEmail:
          description: From email (must be an authorized sender)
          type: string
        fromName:
          description: From name
          type: string
        googleAnalyticsCampaignName:
          description: Google analytics utm_campaign value
          type: string
        html:
          description: HTML contents
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Sets the locale associated with the request content as the template’s default. If empty or flexible default locales are not enabled for the project, the project’s default locale is assigned.'
          type: boolean
        linkParams:
          description: Parameters to append to each URL in html contents
          items:
            $ref: '#/components/schemas/LinkParam'
          type: array
        locale:
          description: The locale for the content in this request. Iterable will automatically pick the content with locale that matches a 'locale' field in the user profile.
          type: string
        mergeDataFeedContext:
          description: Merge data feed contents into user context, so fields be referenced by {{field}} instead of [[field]]
          type: boolean
        messageTypeId:
          description: Message Type Id
          format: int32
          type: integer
        name:
          description: Name of the template
          type: string
        plainText:
          description: Plain text contents
          type: string
        preheaderText:
          description: Preheader text
          type: string
        replyToEmail:
          description: Reply to email
          type: string
        subject:
          description: Subject
          type: string
      required:
      - clientTemplateId
      type: object
    ApiEmailTemplateModel:
      properties:
        bccEmails:
          description: BCC emails
          items:
            type: string
          type: array
        cacheDataFeed:
          description: Cache data feed lookups for 1 hour
          type: object
        campaignDataFields:
          description: Campaign-level data fields available as {{field}} merge parameters during message rendering. These fields are overridden by user and event data fields of the same name.
          type: object
        ccEmails:
          description: CC emails
          items:
            type: string
          type: array
        clientTemplateId:
          description: Client template ID. Used as a secondary key to reference the template
          type: string
        creatorUserId:
          description: Creator User Id
          type: string
        dataFeedId:
          description: '[Deprecated - use dataFeedIds instead] Id for data feed used in template rendering'
          type: number
        dataFeedIds:
          description: Ids for data feeds used in template rendering
          items:
            type: number
          type: array
        fromEmail:
          description: From email (must be an authorized sender)
          type: string
        fromName:
          description: From name
          type: string
        googleAnalyticsCampaignName:
          description: Google analytics utm_campaign value
          type: string
        html:
          description: HTML contents
          type: string
        isDefaultLocale:
          description: 'Ask your Iterable CSM to enroll you in the beta for this feature.


            Identifies if the locale associated with the response is the template’s default. If empty or flexible default locales are not enabled for the project, the project’s default locale is assigned.'
          type: boolean
        linkParams:
          description: Parameters to append to each URL in html contents
          items:
            $ref: '#/components/schemas/LinkParam'
          type: array
        locale:
          description: The locale for the content in this request. Leave empty for default locale. Iterable will automatically send the content with locale that matches a 'locale' field in the user profile.
          type: string
        mergeDataFeedContext:
          description: Merge data feed contents into user context, so fields be referenced by {{field}} instead of [[field]]
          type: object
        messageTypeId:
          description: Message Type Id
          type: number
        metadata:
          $ref: '#/components/schemas/ApiTemplateResponse'
          description: Metadata
        name:
          description: Name of the template
          type: string
        plainText:
          description: Plain text contents
          type: string
        preheaderText:
          description: Preheader text
          type: string
        replyToEmail:
          description: Reply to email
          type: string
        subject:
          description: Subject
          type: string
        templateId:
          description: Email Template ID
          format: int64
          type: integer
      required:
      - templateId
      type: object
    string:
      properties:
        displayLanguage:
          type: string
        languageTag:
          type: string
      required:
      - displayLanguage
      - languageTag
      type: object
    EmailTemplate:
      type: object
      description: An email template
      properties:
        templateId:
          type: integer
          description: Template ID
        name:
          type: string
          description: Template name
        subject:
          type: string
          description: Email subject line
        preheaderText:
          type: string
          description: Email preheader text
        html:
          type: string
          description: HTML content of the template
        plainText:
          type: string
          description: Plain text content of the template
        fromName:
          type: string
          description: From name for the email
        fromEmail:
          type: string
          format: email
          description: From email address
        replyToEmail:
          type: string
          format: email
          description: Reply-to email address
        createdAt:
          type: string
          format: date-time
          description: Template creation date
        updatedAt:
          type: string
          format: date-time
          description: Template last update date
    EmailTemplateUpdate:
      type: object
      description: Request body for updating an email template
      required:
      - templateId
      properties:
        templateId:
          type: integer
          description: Template ID to update
        name:
          type: string
          description: Updated template name
        subject:
          type: string
          description: Updated email subject line
        preheaderText:
          type: string
          description: Updated preheader text
        html:
          type: string
          description: Updated HTML content
        plainText:
          type: string
          description: Updated plain text content
        fromName:
          type: string
          description: Updated from name
        fromEmail:
          type: string
          format: email
          description: Updated from email address
    IterableResponse:
      type: object
      description: Standard Iterable API response indicating success or failure
      properties:
        msg:
          type: string
          description: Human-readable response message
        code:
          type: string
          description: Response code indicating success or error type
        params:
          type: object
          description: Additional response parameters
          additionalProperties: true
  securitySchemes:
    api_key:
      in: header
      name: Api-Key
      type: apiKey
    apiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
      description: Iterable API key passed in the Api-Key header. API keys can be created and managed in the Iterable project settings.
externalDocs:
  description: Iterable API Documentation
  url: https://api.iterable.com/api/docs
x-refined-from:
- iterable-api-openapi.json
- iterable-rest-api-openapi.yml
