openapi: 3.2.0
info:
  title: Iterable REST In App API
  description: The Iterable REST API provides programmatic access to the Iterable cross-channel marketing automation platform. It exposes endpoints for managing users, campaigns, lists, events, commerce tracking, catalogs, channels, templates, experiments, workflows, and message delivery across email, push, SMS, and in-app channels. The API uses standard HTTP methods, JSON request and response bodies, and supports authentication via API keys or JWT-enabled keys.
  version: 1.0.0
  contact:
    name: Iterable Support
    url: https://support.iterable.com
  termsOfService: https://iterable.com/trust/terms-of-service
servers:
- url: https://api.iterable.com/api
  description: US Data Center (USDC)
- url: https://api.eu.iterable.com/api
  description: European Data Center (EDC)
security:
- apiKeyAuth: []
tags:
- name: InApp
  description: Manage in-app messages and retrieve in-app message content for mobile and web clients.
paths:
  /inApp/getMessages:
    get:
      operationId: getInAppMessages
      summary: Get in-app messages for a user
      description: Retrieves pending in-app messages for a user, typically called by mobile or web SDKs to display in-app content.
      tags:
      - InApp
      parameters:
      - name: email
        in: query
        description: Email address of the user
        schema:
          type: string
      - name: userId
        in: query
        description: UserId of the user
        schema:
          type: string
      - name: count
        in: query
        description: Maximum number of messages to return
        schema:
          type: integer
          default: 1
      - name: platform
        in: query
        description: The platform to get messages for
        schema:
          type: string
          enum:
          - iOS
          - Android
          - Web
      responses:
        '200':
          description: In-app messages for the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  inAppMessages:
                    type: array
                    items:
                      type: object
                      properties:
                        messageId:
                          type: string
                        campaignId:
                          type: integer
                        content:
                          type: object
                          properties:
                            html:
                              type: string
                            payload:
                              type: object
                              additionalProperties: true
        '401':
          description: Unauthorized
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
      description: Iterable API key passed in the Api-Key header. API keys can be created and managed in the Iterable project settings.
externalDocs:
  description: Iterable API Documentation
  url: https://api.iterable.com/api/docs
